/**
 * @file
 * Styling for the SUG module.
 */

.group th {
  white-space: nowrap;
}

.group__name {
  font-size: 1.083em;
}
.group__description {
  font-size: 1em;
  margin: 0.5em;
}
.group__description p {
  margin-bottom: 1em;
}

.group__icon {
  background-image: url(../../sug/images/group-icons.png);
  background-repeat: no-repeat;
  float: left; /* LTR */
  height: 24px;
  margin: 0 9px 0 0; /* LTR */
  width: 24px;
}
[dir="rtl"] .group__icon {
  float: right;
  margin: 0 0 0 9px;
}
.group__title {
  overflow: hidden;
}
.group .indented {
  margin-left: 20px; /* LTR */
}
[dir="rtl"] .group .indented {
  margin-left: 0;
  margin-right: 20px;
}
.group__topic-status--new {
  background-position: -24px 0;
}
.group__topic-status--hot {
  background-position: -48px 0;
}
.group__topic-status--hot-new {
  background-position: -72px 0;
}
.group__topic-status--sticky {
  background-position: -96px 0;
}
.group__topic-status--closed {
  background-position: -120px 0;
}
