{#
/**
 * @file
 * Theme override to display a group.
 *
 * May contain group containers as well as group members.
 *
 * Available variables:
 * - groups: The groups to display (as processed by group-list.html.twig).
 * - members: The members to display.
 * - members_pager: The members pager.
 * - groups_defined: A flag to indicate that the groups are configured.
 *
 * @see template_preprocess_groups()
 */
#}
{{ attach_library('classy/group') }}
{% if groups_defined %}
  <div class="group">
    {{ groups }}
    {{ topics }}
    {{ topics_pager }}
  </div>
{% endif %}
