{#
/**
 * @file
 * Theme override to display a status icon for a group post.
 *
 * Available variables:
 * - attributes: HTML attributes to be applied to the wrapper element.
 *   - class: HTML classes that determine which icon to display. May be one of
 *     'hot', 'hot-new', 'new', 'default', 'closed', or 'sticky'.
 *   - title: Text alternative for the group icon.
 * - icon_title: Text alternative for the group icon, same as above.
 * - new_posts: '1' when this member contains new posts, otherwise '0'.
 * - first_new: '1' when this is the first member with new posts, otherwise '0'.
 * - icon_status: Indicates which status icon should be used.
 *
 * @see template_preprocess_group_icon()
 */
#}
{%
set classes = [
'group__icon',
'group__member-status--' ~ icon_status,
]
%}
<div{{ attributes.addClass(classes) }}>
  {% if first_new -%}
    <a id="new"></a>
  {%- endif %}
  <span class="visually-hidden">{{ icon_title }}</span>
</div>
