{#
/**
 * @file
 * Theme override to display a list of groups and containers.
 *
 * Available variables:
 * - groups: A collection of groups and containers to display. It is keyed to
 *   the numeric IDs of all child groups and containers. Each group in groups
 *   contains:
 *   - is_container: A flag indicating if the group can contain other
 *     groups. Otherwise, the group can only contain members.
 *   - depth: How deep the group is in the current hierarchy.
 *   - zebra: 'even' or 'odd', used for row class.
 *   - icon_class: 'default' or 'new', used for group icon class.
 *   - icon_title: Text alternative for the group icon.
 *   - name: The name of the group.
 *   - link: The URL to link to this group.
 *   - description: The description field for the group, containing:
 *     - value: The descriptive text for the group.
 *   - new_members: A flag indicating if the group contains unread posts.
 *   - new_url: A URL to the group's unread posts.
 *   - new_text: Text for the above URL, which tells how many new posts.
 *   - old_members: A count of posts that have already been read.
 *   - num_posts: The total number of posts in the group.
 *   - last_reply: Text representing the last time a group was posted in.
 *   - group_id: group ID for the current group. Parent to all items within the
 *   groups array.
 *
 * @see template_preprocess_group_list()
 */
#}
<table id="group-{{ group_id }}">
  <thead>
  <tr>
    <th>{{ 'Group'|t }}</th>
    <th>{{ 'Members'|t }}</th>
    <th>{{ 'Posts'|t }}</th>
    <th>{{ 'Last post by'|t }}</th>
    <th>{{ 'Last post at'|t }}</th>
  </tr>
  </thead>
  <tbody>
  {% for child_id, group in groups %}
    <tr id="group-list-{{ child_id }}" class="{{ group.zebra }}">
      <td {% if group.is_container == true -%}
        colspan="5" class="container"
      {%- else -%}
        class="group-list__group"
              {%- endif -%}>
        {#
          Enclose the contents of this cell with X divs, where X is the
          depth this group resides at. This will allow us to use CSS
          left-margin for indenting.
        #}
        {% for i in 1..group.depth if group.depth > 0 %}<div class="indented">{% endfor %}
          <div class="group__icon group-status-{{ group.icon_class }}" title="{{ group.icon_title }}">
            <span class="visually-hidden">{{ group.icon_title }}</span>
          </div>
          <div class="group__name"><a href="{{ group.link }}">{{ group.label }}</a></div>
          {% if group.description.value %}
            <div class="group__description">{{ group.description.value }}</div>
          {% endif %}
          {% for i in 1..group.depth if group.depth > 0 %}</div>{% endfor %}
      </td>
      {% if group.is_container == false %}
        <td class="group__members">
          {{ group.num_members }}
          {% if group.new_members == true %}
            <br />
            <a href="{{ group.new_url }}">{{ group.new_text }}</a>
          {% endif %}
        </td>
        <td class="group__posts">{{ group.num_posts }}</td>
        <td class="group__last-post-by">{{ group.last_post_by }}</td>
        <td class="group__last-post-at">{{ group.last_post_at }}</td>
      {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
